body, html {
    height: 100%;
    margin: 0;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
