<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<h5 style="text-align: center; background-color: rgb(6, 158, 44);">historial</h5>
<div class="contenedor" style="background-color: rgb(243, 241, 108);">
  <div class="centro" style="background-color: rgb(20, 175, 20);">
     <ion-item>
      <div>
        <ion-label>riego   6:30</ion-label>
      </div>
     </ion-item>

     <br>
     <ion-item>
      <div>
        <ion-label>agua 3:30</ion-label>
      </div>
     </ion-item>

     
     
  </div>
</div>
</ion-content>
